SECRET_KEY="t7+g)jf1#ir7+4x046qm2ct4=wyypkyy9f=b5z224(ye%1w-p_"
DEBUG=True
DEFAULT_DATABASE=postgresql+asyncpg://root:toor@localhost:5432/tracker
CELERY_BROKER_URL=amqp://root:toor@localhost
GRPC_AUTH_HOST=localhost:50051
