SECRET_KEY = "l+qy&x%&%w4d0#&d7m^hveun8a!m3p-8@$fv@0k9l%3*eb$qd&"
DEBUG = true
DEFAULT_DATABASE = mongodb://localhost:27017/task
CELERY_BROKER_URL = amqp://admin:password@localhost
GRPC_AUTH_HOST = localhost:50051
