[submodule "proto/auth"]
	path = proto/auth
	url = https://github.com/amoghmadan/micro-todo-analytics.git
	branch = proto/auth
[submodule "proto/task"]
	path = proto/task
	url = https://github.com/amoghmadan/micro-todo-analytics.git
	branch = proto/task
