[submodule "proto/auth"]
	path = proto/auth
	url = https://github.com/amoghmadan/micro-todo-analytics.git
	branch = proto/auth
[submodule "proto/tracker"]
	path = proto/tracker
	url = https://github.com/amoghmadan/micro-todo-analytics.git
	branch = proto/tracker
